<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Автологин</title>
    <link rel="stylesheet" href="css/bootstrap-combined.min.css">
    <script type="text/javascript" src="vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body ng-app="autologin" ng-controller="selectController">
    <form>
        <fieldset>
            <legend>
                <input type="radio" ng-model="selectProject" value="buh"> buh
                <input type="radio" ng-model="selectProject" value="salary"> salary
            </legend>
            <label>Сервер</label>
            <select ng-model="selectServer" ng-options="server.name for server in servers">
                <option value="">Не выбрано</option>
            </select>
            <label>Пользователь</label>
            <select ng-model="selectUser" ng-options="user.login for user in selectServer.users">
                <option value="">Без изменения</option>
            </select>
            <label>Учреждение</label>
            <select ng-model="selectEnterprise" ng-options="ent.name for ent in selectServer.enterprises">
                <option value="">Не выбрано</option>
            </select>
            <button class="btn" ng-click="submit()" style="float: left">Перейти</button>
            <a href="options.html" target="_blank" style="float: right">Настройки</a>
        </fieldset>
    </form>
</body>
</html>